<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>About all those emails... | #vss365 today</title>
  <!-- https://markdownmail.com -->
</head>

<body
  style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; height: 100%; hyphens: auto; line-height: 1.4; margin: 0; -moz-hyphens: auto; -ms-word-break: break-all; width: 100% !important; -webkit-hyphens: auto; -webkit-text-size-adjust: none; word-break: break-word;">
  <style>
    @media only screen and (max-width: 600px) {
      .inner-body {
        width: 100% !important;
      }

      .footer {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
  <table class="wrapper" width="100%" cellpadding="0" cellspacing="0"
    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #82eeee; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
    <tr>
      <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
        <table class="content" width="100%" cellpadding="0" cellspacing="0"
          style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0 10px 0; text-align: center;">
              <a href="https://vss365today.com"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; font-size: 23px; font-weight: bold; text-decoration: none;">
                #vss365 today
              </a>
            </td>
          </tr>
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 0 0 25px 0; text-align: center; color: #353333; font-size: 19px; text-decoration: none;">
              About all those emails...
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="body" width="100%" cellpadding="0" cellspacing="0"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
              <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 800px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 600px;">
                <!-- Body content -->
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      Hey there, I'm Caleb, creator of  <a style="color: #3ab879; text-decoration: none;" href="https://vss365today.com">vss365today.com</a>. You are receiving this email because at some
                      point, you signed up for the daily email notifications containing the latest #vss365 prompt.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      First off, thank you for supporting this project of mine. What started out as a quick idea to help
                      myself get the latest #vss365 prompt has turned into something greater. It's humbling to know that
                      so many people use the site for writing inspiration. So, yeah. Thank you. I mean it.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      Additionally, thank you for sticking around during this whole Twitter/X fiasco and the changes
                      that
                      affected my ability to run the site. They have not been easy or painless (which is partially why I
                      am writing so directly right now). Hopefully those things are behind us now.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      To my point of writing, I want to apologize for the mass amount of email messages you likely
                      received yesterday. While you may not have thought much of it, I did, and I wanted to say I am so
                      sorry to spam you like that. I've said it many times before that I personally can't stand
                      spam messages, much less a flood of them, and yet that is exactly what I did to you.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      To spare you the boring details, I was working on fixing an issue that was causing the daily
                      emails
                      to not send out. While doing so, it appears I fixed the problem without realizing I did but did
                      not realize it until later. In total, I accidentally sent nearly 6,000 messages.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      Please accept my sincerest apologies for this. If you've been around for a while, you know this
                      doesn't happen. Between a lot of internal work and the Twitter/X changes, this was an exceptional
                      circumstance. I do my best to keep everything running without issue, and this was one of those
                      times
                      I messed up.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      Again, I appreciate your support. I have plans in the works to continue to improve everything, not
                      to mention the anticipated #vss365 Wrapped 2023 that comes out in just a few short months.
                      If you have any questions, feel free to tweet me and I'll be more than happy to answer.
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      Happy writing!
                    </p>
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000000; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                      -Caleb<br>
                      <a style="color: #3ab879; text-decoration: none;"
                        href="https://twitter.com/cely717">https://twitter.com/cely717</a>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
              <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1em; margin-top: 0; color: #353333; font-size: 12px; text-align: center;">
                      <a style="color: #3ab879; text-decoration: none;"
                        href="https://vss365today.com/unsubscribe">Unsubscribe</a> |
                      <a style="color: #3ab879; text-decoration: none;" href="https://vss365today.com/privacy">Privacy
                        policy</a>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
